src/main/mule/mindtickeexercise.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="mindtickeexercise-httpListenerConfig">
        <http:listener-connection host="${HOST}" port="${PORT}" />
    </http:listener-config>
    <apikit:config name="mindtickeexercise-config" api="mindtickeexercise.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="5ff731e8-67fd-4603-8778-540d88a7c403" >
		<salesforce:basic-connection username="nabraj.khatri@mulesoft.com" password="MuleSoftYey3#" securityToken="rWfgtiuI2HJf4qwsbEyd2GnQc" />
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties" doc:id="79bc21d3-2943-4d78-970d-3f71ca88469a" file="${env}.properties" />
	<global-property doc:name="Global Property" doc:id="bb0e22da-b8dd-425d-a00a-c309143530d6" name="env" value="dev" />
	<flow name="post:\Order:application\json:mindtickeexercise-config">
		<logger level="INFO" doc:name="Logger" doc:id="6fbdcd41-ca9f-4d19-aab2-658a126e221c" message='"poNumber: " + #[attributes.queryParams.poNumber] ++ " email: "++  #[payload.email]'/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	"poNumber__c": 							payload.poNumber,
	"signatureRequiredFlag__c": false and 	payload.signatureRequiredFlag as Boolean,
	"shipInstructions__c": 					payload.shipInstructions,
	"giftWrapFlag__c": false and 			payload.giftWrapFlag as Boolean,
	"giftWrapMessage__c": 					payload.giftWrapMessage,
	"currencyCode__c": 						payload.currencyCode,
	"subTotal__c": 							payload.subTotal,
	"email__c": 							payload.email
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create doc:name="ORDER_Create" doc:id="2befd6e4-ae59-47a7-9d69-f39c9e783b0e" config-ref="Salesforce_Config" type="ZOrder__c"/>
		<logger level="INFO" doc:name="Logger" doc:id="449f15b2-c568-4cb6-ae28-4686a9ac9e1f" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="22e8471b-a429-470b-b6db-2e790d9fa088" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\Customer:application\json:mindtickeexercise-config">
		<ee:transform doc:name="Transform Message" doc:id="1d66f3d8-3993-428c-99c7-03834f514055" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	"address__c": 	payload.address,
	"firstName__c": payload.firstName,
	"lastName__c": 	payload.lastName,
	"order__c": 	payload.order
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="CUSTOMER_Create" doc:id="90c1bc3f-af9b-40a5-99d1-13bfd032371a" config-ref="Salesforce_Config" type="ZCustomer__c"/>
		<logger level="INFO" doc:name="Logger" doc:id="64142aa8-a64a-405a-9e79-3e4e1b80ee3c" />
		<ee:transform doc:name="Transform Message" doc:id="ccb89a08-344f-4e24-9c59-fa14bff22aea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\Item:application\json:mindtickeexercise-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{

	"id__c": 		payload.id,
	"category__c": 	payload.category,
	"quantity__c": 	payload.quantity as Number,
	"size__c": 		payload.size,
	"order__c": 	payload.order,
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create doc:name="ITEM_Create" doc:id="2d305109-06f5-4ce3-b03d-a3a38110f820" config-ref="Salesforce_Config" type="ZItem__c"/>
		<logger level="INFO" doc:name="Logger" doc:id="a577ac36-0fbc-4d1e-9b62-7214f13e8226" />
		<ee:transform doc:name="Transform Message" doc:id="d10c4a00-e7ba-4a77-9600-63f01527fc4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\Order:mindtickeexercise-config">
        <ee:transform doc:name="Transform Message" doc:id="ae0096b5-05ac-44a2-917d-45ca71389dba">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\Order:mindtickeexercise-config" />
		<ee:transform doc:name="Transform Message" doc:id="32be3e2f-b0a8-4184-867a-f3a7ec5e4a1f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\Customer:mindtickeexercise-config">
		<logger level="INFO" doc:name="Logger" doc:id="64392856-11d5-45c3-ad4c-e2b4ac301320" message="#[attributes.queryParams.firstname]" />
		<salesforce:query doc:name="Query" doc:id="f7f121d8-33ab-4108-8086-5994d4dcf067" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select id, Name, Fax, Phone, AccountNumber, BillingCity, BillingCountry from Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="6e4f9db0-7d96-4fb1-bf44-bb24cf0b85fc" />
		<ee:transform doc:name="Transform Message" doc:id="cd3a16a3-14f5-4102-90c1-11042c1fffd1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8d4a2136-ff5d-410f-a9c2-1ebf229aa81b" message="#[payload]" />
    </flow>
    <flow name="put:\Order:mindtickeexercise-config">
		<logger level="INFO" message="put:\Order:mindtickeexercise-config" />
    </flow>
	<flow name="mindtickeexercise-main">
        <http:listener config-ref="mindtickeexercise-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mindtickeexercise-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="mindtickeexercise-console">
        <http:listener config-ref="mindtickeexercise-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mindtickeexercise-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\Customer:mindtickeexercise-config">
        <logger level="INFO" message="put:\Customer:mindtickeexercise-config" />
    </flow>
	<flow name="get:\Item:mindtickeexercise-config">
        <logger level="INFO" message="get:\Item:mindtickeexercise-config" />
    </flow>
	<flow name="put:\Item:mindtickeexercise-config">
        <logger level="INFO" message="put:\Item:mindtickeexercise-config" />
    </flow>
	<flow name="delete:\Customer:mindtickeexercise-config">
        <logger level="INFO" message="delete:\Customer:mindtickeexercise-config" />
    </flow>
    <flow name="delete:\Item:mindtickeexercise-config">
        <logger level="INFO" message="delete:\Item:mindtickeexercise-config" />
    </flow>
    <flow name="delete:\Order:mindtickeexercise-config">
        <logger level="INFO" message="delete:\Order:mindtickeexercise-config" />
    </flow>
	<flow name="patch:\Customer:mindtickeexercise-config">
        <logger level="INFO" message="patch:\Customer:mindtickeexercise-config" />
    </flow>
    <flow name="patch:\Item:mindtickeexercise-config">
        <logger level="INFO" message="patch:\Item:mindtickeexercise-config" />
    </flow>
	<flow name="patch:\Order:mindtickeexercise-config">
        <logger level="INFO" message="patch:\Order:mindtickeexercise-config" />
    </flow>
</mule>
